<div class="container">

<h2>Welcome Employer</h2>



<%= link_to("Create a Job", new_job_path, class: "btn btn-success") %>
<br />
<%= link_to("View all applications", applies_path, class: "btn btn-success") %>
<br/>
<%= link_to("View all Job Postings", jobs_path, class: "btn btn-success") %>

 </div>