<h1>Welcome Admin</h1>

<%= link_to "Add more admin", new_user_path(:role =>"ADM") %>
<br />
<%= link_to "Register employers", new_user_path(:role => "EMP") %> <!--  TODO: fix this  -->
<br />
<%= link_to("Add Fields",new_field_path) %>
<br />
<%= link_to("View Fields",fields_path) %>


