<h1>Welcome Admin</h1>

<%= link_to("Add more admin","/users/new?role=ADM") %>
<br />
<%= link_to "Register employers", "/users/new?role=EMP" %> <!--  TODO: fix this  -->
<br />
<%= link_to("Add Fields",new_field_path) %>
<br />
<%= link_to("View Fields",fields_path) %>


