<h2>ADD Fields</h2>

<div class="addField">
	 <%= form_tag(:action => 'add_fields') do %>
   <table>
   	<tr>
   		<td><%= label_tag(:name) %></td>
   		<td><%= text_field_tag(:name) %></td>
   	</tr>
   	 <tr>
   	 	 <td>&nbsp;</td>
   	 	 <td><%= submit_tag("Add Field") %></td>
   	  </tr>
   	</table>
    <% end %>
 </div>