<h1>Welcome Admin</h1>

<%= link_to("Add more admin",{:action => 'add_admin'}) %>
<br />
<%= link_to("Register employers",{:action => 'add_employer'}) %>
<br />
<%= link_to("Add Fields",{:action => 'admin_add_field'}) %>
<br />
<%= link_to("Logout",{:action => 'logout'}) %>
