
<% if @user.role.eql?("USR") %>
<h1>Edit Job Seeker</h1>
<% end %>
<% if @user.role.eql?("EMP") %>
<h1>Edit Employer</h1>
<% end %>
<% if @user.role.eql?("ADM") %>
<h1>Edit Admin</h1>
<% end %>
<%= render 'form' %>

